# Visual Studio
*.suo
*.user
*.sln.docstates
.vs/
*.ide/

# Build results
[Bb]in/
[Oo]bj/

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# NuGet
packages/*
*.nuget.props
*.nuget.targets

# vim
*.swp
